@model LibraryShop.Web.ViewModels.Home.IndexPageStatisticsViewModel

@using LibraryShop.Common
@{
    this.ViewData["Title"] = "Home Page";
}
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

@if (this.TempData.ContainsKey("DeleteMessage"))
{
    <div class="alert alert-success">@this.TempData["DeleteMessage"]</div>
}
@if (this.TempData.ContainsKey("AddedGener"))
{
    <div class="alert alert-success">@this.TempData["AddedGener"]</div>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/HomePageStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <section class="col-md-6 offset-3">
            <video controls="controls" width="500">
                <source src="~/How%20To%20Read%20A%20Book%20A%20Week%20-%203%20PROVEN%20Tricks.mp4" type="video/mp4" />
            </video>
            <p>
                Reading is typically an individual activity, done silently, although on occasion a person reads out loud for other listeners; or reads aloud for one's own use, for better comprehension. Before the reintroduction of separated text (spaces between words) in the late Middle Ages, the ability to read silently was considered rather remarkable.
            </p>
        </section>
    </div>
    
</body>
</html>