@{
    ViewBag.Title = "Error Page";
}

<h3 class="text-center">You are already a Dealer!</h3>
<h5 class="alert alert-danger text-center text-dark">Click on 'Add Book' button to add new one.</h5>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-primary" asp-controller="Book" asp-action="Addd">Add Book</a>
        </div>
    </div>
</div>
<h2 class="alert-primary text-center">Thank you for your understanding!!!</h2>
