@model LibraryShop.Web.ViewModels.Dealer.BecomeDealerFormModel

@if (TempData.ContainsKey("WrongUser"))
{
    <div class="alert alert-danger">@this.TempData["WrongUser"]</div>
}

<div class="row">
    <div class="offset-md-3 col-md-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name">Dealer Name:</label>
                <input asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNubmer">Dealer phone number</label>
                <input asp-for="PhoneNubmer">
                <span asp-validation-for="PhoneNubmer" class="text-danger"></span>
            </div>
            <input class="btn btn-primary" type="submit" value="Save" />
        </form>
    </div>
</div>