@{
    ViewBag.Title = "Error Page";
}

<h3 class="text-center">You have to be a dealer to be able to add new books in this library!</h3>
<h5 class="alert alert-danger text-center text-dark">Click on 'Become Dealer' button to become a Dealer</h5>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-primary" asp-controller="Dealer" asp-action="Become">Become Dealer</a>
        </div>
    </div>
</div>
<h2 class="alert-primary text-center">Thank you for your understanding!!!</h2>
