article {
    border: 1px solid black;
}

section {
    border: 3px solid double;
    padding: 10px;
}
    section p {
        color: black;
        font-family: sans-serif;
    }

table th {
    color: cornflowerblue;
}
.carousel-inner > .item > img {
    width: 640px;
    height: 360px;
}