a:hover, a:focus, .tg-primary-menu > div ul li:hover > a, .tg-primary-menu > div ul li.current_page_item > a, .tg-primary-menu > div ul li.current-menu-item > a, .tg-mobile-navigation > div ul li.current_page_item > a, .tg-mobile-navigation > div ul li.current-menu-item > a, .entry-content a, .tg-meta-style-two .entry-meta span, .tg-meta-style-two .entry-meta a {
    color: #6b5c4e;
}

.tg-primary-menu.tg-primary-menu--style-underline > div > ul > li.current_page_item > a::before, .tg-primary-menu.tg-primary-menu--style-underline > div > ul > li.current-menu-item > a::before, .tg-primary-menu.tg-primary-menu--style-left-border > div > ul > li.current_page_item > a::before, .tg-primary-menu.tg-primary-menu--style-left-border > div > ul > li.current-menu-item > a::before, .tg-primary-menu.tg-primary-menu--style-right-border > div > ul > li.current_page_item > a::before, .tg-primary-menu.tg-primary-menu--style-right-border > div > ul > li.current-menu-item > a::before, .tg-scroll-to-top:hover, button, input[type="button"], input[type="reset"], input[type="submit"], .tg-primary-menu > div ul li.tg-header-button-wrap a {
    background-color: #6b5c4e;
}

body {
    color: #596172;
}

body {
    font-family: Quattrocento;
    font-weight: 400;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen-sans, ubuntu, cantarell, helvetica neue, helvetica, arial, sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 500;
}

h4 {
    font-weight: 500;
}

h5 {
    font-weight: 500;
}

h6 {
    font-weight: 500;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, #infinite-handle span:hover {
    background-color: #1e7ba6;
}

.tg-site-header .tg-site-header-top {
    background-size: contain;
}

.tg-site-header, .tg-container--separate .tg-site-header {
    background-size: contain;
}

.tg-site-header {
    border-bottom-width: 0px;
}

.main-navigation.tg-primary-menu > div ul li.tg-header-button-wrap a {
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
}

.main-navigation.tg-primary-menu > div ul li.tg-header-button-wrap a {
    background-color: #6b5c4e;
}

    .main-navigation.tg-primary-menu > div ul li.tg-header-button-wrap a:hover {
        background-color: #544b3a;
    }

.main-navigation.tg-primary-menu > div ul li.tg-header-button-wrap a {
    border-radius: 0px;
}

.tg-primary-menu > div > ul li:not(.tg-header-button-wrap) a {
    color: #272727;
}

.tg-primary-menu > div ul li:active > a, .tg-primary-menu > div ul > li:not(.tg-header-button-wrap).current_page_item > a, .tg-primary-menu > div ul > li:not(.tg-header-button-wrap).current_page_ancestor > a, .tg-primary-menu > div ul > li:not(.tg-header-button-wrap).current-menu-item > a, .tg-primary-menu > div ul > li:not(.tg-header-button-wrap).current-menu-ancestor > a {
    color: #6b5c4e;
}

.tg-primary-menu.tg-primary-menu--style-underline > div ul > li:not(.tg-header-button-wrap).current_page_item > a::before, .tg-primary-menu.tg-primary-menu--style-underline > div ul > li:not(.tg-header-button-wrap).current_page_ancestor > a::before, .tg-primary-menu.tg-primary-menu--style-underline > div ul > li:not(.tg-header-button-wrap).current-menu-item > a::before, .tg-primary-menu.tg-primary-menu--style-underline > div ul > li:not(.tg-header-button-wrap).current-menu-ancestor > a::before, .tg-primary-menu.tg-primary-menu--style-left-border > div ul > li:not(.tg-header-button-wrap).current_page_item > a::before, .tg-primary-menu.tg-primary-menu--style-left-border > div ul > li:not(.tg-header-button-wrap).current_page_ancestor > a::before, .tg-primary-menu.tg-primary-menu--style-left-border > div ul > li:not(.tg-header-button-wrap).current-menu-item > a::before, .tg-primary-menu.tg-primary-menu--style-left-border > div ul > li:not(.tg-header-button-wrap).current-menu-ancestor > a::before, .tg-primary-menu.tg-primary-menu--style-right-border > div ul > li:not(.tg-header-button-wrap).current_page_item > a::before, .tg-primary-menu.tg-primary-menu--style-right-border > div ul > li:not(.tg-header-button-wrap).current_page_ancestor > a::before, .tg-primary-menu.tg-primary-menu--style-right-border > div ul > li:not(.tg-header-button-wrap).current-menu-item > a::before, .tg-primary-menu.tg-primary-menu--style-right-border > div ul > li:not(.tg-header-button-wrap).current-menu-ancestor > a::before {
    background-color: #6b5c4e;
}

.tg-primary-menu > div ul li a {
    font-family: Quattrocento;
    font-weight: 700;
    font-size: 16px;
}

.tg-page-header {
    padding-top: 100px;
    padding-bottom: 100px;
}

    .tg-page-header .tg-page-header__title, .tg-page-content__title {
        color: #ffffff;
    }

.tg-page-header, .tg-container--separate .tg-page-header {
    background-image: url(https://zakrademos.com/book-author/wp-content/uploads/sites/19/2019/04/page-header-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

    .tg-page-header .breadcrumb-trail ul li {
        color: #ffffff;
    }

        .tg-page-header .breadcrumb-trail ul li::after {
            color: #ffffff;
        }

        .tg-page-header .breadcrumb-trail ul li a {
            color: #ffffff;
        }

    .tg-page-header .tg-page-header__title, .tg-page-content__title {
        font-weight: 500;
    }

.tg-site-footer-widgets {
    background-color: #1a1a1a;
}

.tg-site-footer .tg-site-footer-widgets a {
    color: #ffffff;
}

    .tg-site-footer .tg-site-footer-widgets a:hover, .tg-site-footer .tg-site-footer-widgets a:focus {
        color: #6b5c4e;
    }

.tg-site-footer .tg-site-footer-widgets {
    border-top-width: 0px;
}

    .tg-site-footer .tg-site-footer-widgets ul li {
        border-bottom-width: 0px;
    }

.tg-site-footer .tg-site-footer-bar {
    background-color: #1a1a1a;
}

.tg-site-footer .tg-site-footer-bar {
    color: #ffffff;
}

    .tg-site-footer .tg-site-footer-bar a {
        color: #ffffff;
    }

        .tg-site-footer .tg-site-footer-bar a:hover, .tg-site-footer .tg-site-footer-bar a:focus {
            color: #6b5c4e;
        }

.tg-site-footer .tg-site-footer-bar {
    border-top-width: 1px;
}

.tg-site-footer .tg-site-footer-bar {
    border-top-color: #292929;
}

