@model LibraryShop.Web.ViewModels.Book.AllBooksListingAndSortingViewModel


<div class="row">
    @foreach (var book in Model.Books)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@book.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a asp-action="AboutBook" asp-route-id ="@book.Id" class="btn btn-primary">About</a>
            </div>
        </div>
    }
</div>
